main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places-map {
  width: 100%;
  height: 360px;
  background-color: #ccc;
}

.filter-bar {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
